<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include ('blocks/header') -%>
    <main>
        <h1>Page about Us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi nemo beatae quia laudantium culpa inventore error enim incidunt dolorum dolorem dolor aut, delectus harum quae a est dolore porro maiores!</p>
    </main>
</body>
</html>