<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include ('blocks/header') -%>
    <main>
        <h1>Main Page</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur tempora harum sed inventore repudiandae dolor minima, et sit animi. Cumque consectetur voluptas maxime dolores fugiat impedit, ut sunt unde voluptatem.</p>
    </main>
</body>
</html>