<header>
    <span>Node JS <em>&</em>Express JS</span>
    <nav>
        <a href="/">Main</a>
        <a href="/about">About Us</a>
    </nav>
    <form>
        <input type="text" placeholder="User Name">
        <button>Search</button>
    </form>
</header>